@font-face{
  font-family: "Museo-light";
  src: url('../assets/fonts/museo/museo-300-webfont.woff') format('woff');
}
@font-face{
  font-family: "Museo-medium";
  src: url('../assets/fonts/museo/museo-500-webfont.woff') format('woff');
}
@font-face{
  font-family: "Museo-bold";
  src: url('../assets/fonts/museo/museo-700-webfont.woff) format('woff');
}


body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(https://github.com/KadeB12/KadeB12web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true);
  font-family: "Museo-light";
}
nav{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  font-family: 
}
#left{
  padding: 1em;
  width: 70%;
  justify-content:space-around;
}
#right{
  display:flex;
  padding: 1em;
  width: 4em;
  justify-content:space-around;
  color: solid; 
  flex-wrap: wrap;
}
.icon_social{
  width: 1.75em;
  border-radius:.125em;
}
div#left a{
  padding:1em;
}
div#right div{
  margin: .125em 0;
}
header{
  width: 90%;
  border:solid;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
section{
  width: 98%;
  height: 95%;
  border: solid;
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1551667090-244e7178d53e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);  
}
.button{
	text-decoration: none;
	color: white;
	background: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
	padding: 10px 50px;
	background-color: #a6a69d;
	background-blend-mode: multiply;
}