@font-face{
  font-family: "Museo-light";
  src: url('../assets/fonts/museo/museo-300-webfont.woff') format('woff');
}
@font-face{
  font-family: "Museo-medium";
  src: url('../assets/fonts/museo/museo-500-webfont.woff') format('woff');
}
@font-face{
  font-family: "Museo-bold";
  src: url('../assets/fonts/museo/museo-700-webfont.woff') format('woff');
}
body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(https://github.com/KadeB12/KadeB12web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true);
  font-family: "Museo-light";
}
/* this is the navigation bar ****************************** */ 
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  color: grey;
  font-family: "Museo-medium";
}
#left{
  padding: 1em;
  width: 50%;
  justify-content: flex-start;
}
#right{
  display:flex;
  padding: 1em;
  width: 4em;
  justify-content:space-around;
  color: solid; 
  flex-wrap: wrap;
}
.icon_social{
  width: 1.75em;
  border-radius:.125em;
  margin: .2em;
}
div#left a{
  padding:1em;
}
div#right a{
  padding: .325em;
}
div#right div{
  margin: .125em 0;
}
.logo{
  padding: 1em;
  height: 20%;
  width: 20%;
}
/* this is the HEADER ******************************************************* ************************** * */ 
header{
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

div.banner h2{
  font-size: 1.5em;
  padding:.5em;
  color: white;
}
section{
  width: 98%;
  height: 95%;
  display: flex;
  background-image: url(https://scontent-lhr3-1.cdninstagram.com/vp/4d532806265ad0d99d271fae4194acb7/5D197A18/t51.2885-15/e15/1971385_934088529941083_1479022946_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&ig_cache_key=ODE0NTAxMDk3ODExNzMzNzc5.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
section img.arrowleft{
  height: 10%;
  width: 5%;
  position: absolute;
  bottom: 12em;
  left: -2em;
}
section img.arrowright{
  height: 10%;
  width: 5%;
  position: absolute;
  bottom: 12em;
  right: -2em;
}
.button{
	text-decoration: none;
	color: white;
	background: url('https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
	padding: 10px 50px;
	background-color: #a6a69d;
  background-blend-mode: multiply;
  margin: 1em auto;

}
/* this is the gallery ******************************************************** **************************  */ 
main{
  width: 100%;
  padding: 1em;
}
.row{
  height:10%;
  display: flex;
  justify-content: space-between;
}

.gallery{
  width: 20%;
  background-image: url(https://images.unsplash.com/photo-1551667090-244e7178d53e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
}
.gallery-r1-i1{
  width: 20%;
  background-image: url(https://cdn-images-1.medium.com/max/1200/1*pznhu0u2iCGzmqVjhnV-lw.png);
  background-size: cover;
  background-position: center;
}
.gallery-r1-i2{
  width: 20%;
  background-image: url(https://scontent-lhr3-1.cdninstagram.com/vp/95e07d4aa2c49ef5e5a54d3e00866887/5D08809F/t51.2885-15/e35/51746462_385889715524212_1938515610799405818_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&se=7&ig_cache_key=MTk4ODI3NDU2NzgwNTk1Njk1NQ%3D%3D.2);
  background-size: cover;
  background-position: center;
}
.gallery-r1-i3{
  width: 20%;

  background-image: url(https://scontent-lhr3-1.cdninstagram.com/vp/ce6f26033573b936d2a2c4092efebcb1/5D237CC1/t51.2885-15/e35/43913126_166338964316238_3026788700339941136_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&se=7&ig_cache_key=MTg5ODk0NjMzMzgzMDc2Mzc5Nw%3D%3D.2);
  background-size: cover;
  background-position: center;
}
.gallery-r1-i4{
  width: 20%;

  background-image: url(https://scontent-lhr3-1.cdninstagram.com/vp/ec5977b77447debd409da2e5398ee44a/5D1A908D/t51.2885-15/e35/53552450_424056861700929_1305053387867753123_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&se=7&ig_cache_key=MTk5MjAxMzczMDExMTYxMDQ4OA%3D%3D.2);
  background-size: cover;
  background-position: center;
}
.gallery-r2-i1{
  width: 20%;

  background-image: url(https://scontent-lhr3-1.cdninstagram.com/vp/e1a54942a32315bc7bb4b81e63562d20/5D1F0A3B/t51.2885-15/e35/23667883_373071759817153_8558101239294853120_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&se=8&ig_cache_key=MTY1MjU4MzUzMzA2NTE3OTAyNA%3D%3D.2);
  background-size: cover;
  background-position: center;
}
.gallery-r2-i2{
  width: 20%;

  background-image: url(https://scontent-lhr3-1.cdninstagram.com/vp/77bcaf8f9bde4e3fab4b6ebf69fc7446/5D2678A9/t51.2885-15/e35/12545304_1551297468495731_1245712918_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&ig_cache_key=MTE2MDk3MDk1NDUwMzYxNDAyMQ%3D%3D.2);
  background-size: cover;
  background-position: center;
}
.gallery-r2-i3{
  width: 20%;

  background-image: url(https://scontent-lhr3-1.cdninstagram.com/vp/f2b18fabaa2766aef58a4106cf739f52/5D0CAB58/t51.2885-15/e15/10817799_976124425731494_516273872_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&ig_cache_key=ODU2MTUzMjQ0MjIzNDAxNTk3.2);
  background-size: cover;
  background-position: center;
}
.gallery-r2-i4{
  width: 20%;

  background-image: url(https://scontent-lhr3-1.cdninstagram.com/vp/4d532806265ad0d99d271fae4194acb7/5D197A18/t51.2885-15/e15/1971385_934088529941083_1479022946_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&ig_cache_key=ODE0NTAxMDk3ODExNzMzNzc5.2);
  background-size: cover;
  background-position: center;
}
.gallery-r3-i1{
  width: 20%;

  background-image: url(https://scontent-lht6-1.cdninstagram.com/vp/83028ac8d48ac1fd8220a9fa7cf4acde/5D038259/t51.2885-15/e35/22069695_286673171849766_110861025829453824_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&se=8&ig_cache_key=MTYxNDE1NDMxNTExMzU3Nzg5OA%3D%3D.2);
  background-size: cover;
  background-position: center;
}
.gallery-r3-i2{
  width: 20%;

  background-image: url(https://scontent-lht6-1.cdninstagram.com/vp/b97d692f2d3cc64e52df5c07675bb1e8/5D04318F/t51.2885-15/e35/19379914_1981033052126991_8672220350005641216_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&se=7&ig_cache_key=MTU0MzkyNzM1NDUyNjQ2NTYyMA%3D%3D.2);
  background-size: cover;
  background-position: center;
}
.gallery-r3-i3{
  width: 20%;

  background-image: url(https://scontent-lht6-1.cdninstagram.com/vp/25fd25e4f6a8a797f05716d9f20d8370/5D10D198/t51.2885-15/e15/10246118_1559037897667787_760651981_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&ig_cache_key=OTAxMjU1NjcxMDU4MjYzODY5.2);
  background-size: cover;
  background-position: center;
}
.gallery-r3-i4{
  width: 20%;

  background-image: url(https://scontent-lht6-1.cdninstagram.com/vp/c97eaa5e943d1d33e27aea3ac4d329b2/5D25A2D3/t51.2885-15/e15/926555_920519911310171_1823849101_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&ig_cache_key=ODQ3Mzc0MjUyNjIwMTE1NDc2.2);
  background-size: cover;
  background-position: center;
}
div.wrapper{
  height: 80em;
 
  display: block;
  width: 90%;
  margin: 0, 0, 1.75em, 1.75em;
}
.banner{
  height: 6vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  justify-content: flex-end;
}
h1{
  font-size: 1.25em;
  text-align: center;
  margin: 1.75em;

}
footer{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  background-image: url(https://github.com/KadeB12/KadeB12web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true);
	background-color: #a6a69d;
  background-blend-mode: multiply;
  margin: 0 auto;
}
footer div h3{
  font-size: 1em;
  text-align: left;
}
footer p{
  color: lightgray;
  margin-top: 0;
}
footer div{
  flex-direction: column;
  align-items: flex-start;
}
footer div nav a{
  font-size: .125em;
  padding: .5em;
  color: lightgray;
}
.searchbar{
  font-size: 1em;
  padding: .5em;
  text-decoration: none;
	background-color: white;
  padding: 10px 35px 10px 7px;
}
.searchbar img{
  height: 1em;
}
#footcolcenter{
  padding: 1em;
  width: 30%;
  height: 80%;
  justify-content: space-around;
}
#footcolright{
  padding: 1em;
  width: 30%;
  height: 80%;
  justify-content: space-around;
}

#footcolcenter a{
  color: black;
}
#footcol-left-search{
  margin-left: 1.125em;
}
.footrow{
  height: 25%;
  display: flex;
  justify-content: space-between;
  padding:.25em;
}
.newsbar{
  height: 6vh;
  width: 100%;
  background-color: rgb(100, 100, 100, .5);
  margin-top: 1.75em;
  justify-content: center;
}
div.newsbar div{
  width: 100%;
  justify-content: space-around;
}
div.newsbar h2{
  color:white;
  font-size: 1em;
}
#alert{
  font-size: 1em;
}
@media (max-width: 60em) {
	#footcolleft{
		width: 42%;
  }
  #footcolcenter{
		width: 42%;
  }
  #footcolright{
		display: none;
  }
  h1{
    font-size: .8em;
  }
  .row{
    height:10%;
  }
  header{
    height: 23em;
  }
  div.wrapper{
    height: 60em;
  }  
  section img.arrowleft{
    height: 10%;
    width: 5%;
    position: absolute;
    bottom: 10em;
    left: -1em;
  }
  section img.arrowright{
    height: 10%;
    width: 5%;
    position: absolute;
    bottom: 10em;
    right:-1em;
  }
  #alert{
    font-size: .75em;
  }
}
@media (max-width: 40em) {
  div.wrapper{
    height: 42em;
  } 
  #alert{
    font-size: .5em;
  } 
  h1{
    font-size: .8em;
  }
  footer div h3{
    font-size: .8em;
  }

  p{
    font-size: .25em
  }
  .row{
    height:6%;
  }
  header{
    height: 15em;
  }
  nav a{
    font-size: .5em;
  }
  div.newsbar h2{
    color:white;
    font-size: .5em;
  }
  div.newsbar p{
    color: black;
    font-size: .25em;
  }
  div.banner h2{
    font-size: 1em;
    padding:.5em;
    color: white;
  }
  section img.arrowleft{
    height: 10%;
    width: 5%;
    position: absolute;
    bottom: 7em;
    left: -1em;
  }
  section img.arrowright{
    height: 10%;
    width: 5%;
    position: absolute;
    bottom: 7em;
    right: -1em;
  }
  #footcolcenter a{
    color: black;
    font-size: .75em;
  }
}
